body {
  margin: 0;

  /**background-color: #90b8bd;*/
  font-family: "Jost", sans-serif;
}
h1 {
  color: #292929;
}
h2 {
  color: #292929;
}
h3 {
  color: #292929;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 8%;
  border-color: grey;
}
.akl {
  visibility: hidden;
}
.abhijith {
  padding: 8% 0 0 0;
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 60px;
  margin-bottom: 0;
}

.link {
  color: #292929;
}

/*********************CLASS SELECTORS*******************/

/****************contactanimation***************/

p {
  margin: 0;
}
.aaaa {
  padding-top: 100px;
}
.container1 {
  text-align: center;
}
.photo1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  /**  border-radius: 200px 20px / 100px;     ********use this to make custom shape **/
}
.for {
  position: relative;
  top: 45px;
  left: 45px;
  height: 100px;
  width: 100px;
}

.web {
  font-family: "Montez", cursive;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

/**********************************************************************************/

.ddaarrkk {
  color: #000;
}
.ddaarrkk :hover {
  color: #000;
}
.ddaarrkk::after {
  color: #000;
}
.margin {
  width: 550px;
  padding-bottom: 200px;
}
.elect {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 0;
  right: 0;
  margin-left: 1%;
  margin: 1px 1px 1px 1px;
  z-index: -1;
  width: 100%;
}
.copy {
  opacity: 0.5;
}

#footer {
  text-align: center;
  padding: 4% 15% 4%;
}
.ico {
  padding: 0 0.85% 0.85%;
  opacity: 0.8;
}
.ico2 {
  color: rgb(78, 125, 255);
}
.ico3 {
  color: rgb(242, 93, 255);
}
.ico4 {
  color: rgb(236, 37, 37);
}
.ico1 {
  color: rgb(43, 43, 43);
}
.table {
  padding-left: 30px;
}

@media (max-width: 1028px) {
  .aaaa {
    padding-top: 3%;
  }
  .lg-head {
    text-align: center;
  }
  .margin {
    width: 550px;
    padding-bottom: 0%;
  }
  .abhijith {
    padding: 4% 0 0 0;
    margin-top: 0;
    font-family: "Sacramento", cursive;
    font-size: 105px;
    margin-bottom: 0;
  }
  .web {
    font-family: "Montez", cursive;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 275%;
  }
  #footer {
    padding-top: 60%;
  }
}
/* end of @media */
