body {
  margin: 0;

  /**background-color: #90b8bd;*/
  font-family: "Jost", sans-serif;
}
h1 {
  color: #292929;
}
h2 {
  color: #292929;
}
h3 {
  color: #292929;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 8%;
  border-color: grey;
}
.akl {
  visibility: hidden;
}
.abhijith {
  padding: 0;
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 60px;
  margin-bottom: 0;
}

.link {
  color: #292929;
}

/*********************CLASS SELECTORS*******************/

/****************contactanimation***************/

p {
  margin: 0;
}
.aaaa {
  padding-top: 100px;
}
.container1 {
  text-align: center;
}
.photo1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  /**  border-radius: 200px 20px / 100px;     ********use this to make custom shape **/
}
.for {
  position: relative;
  top: 45px;
  left: 45px;
  height: 100px;
  width: 100px;
}

.web {
  font-family: "Montez", cursive;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
.cloud2 {
  position: absolute;
  left: auto;
  right: auto;
}
.cloud1 {
  position: absolute;
  left: 575px;
  top: 60px;
}

/********************************************************************************/
/*     .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.btn1:link, .btn:visited {
  padding: 1rem 2.4rem;
  border-radius: 10rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn1:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(110, 110, 110, 0.2);
}
.btn1:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn1::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn1--white {
  background-color: #dddddd;
  color: #a6a6a6;
}
.btn1--white::after {
  background-color: #c7c7c7;
}
.btn1--animated {
  animation: MoveInFromBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}
.btn1
{
  color: black;
}

@keyframes MoveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}                  */

/**********************************************************************************/
.ddaarrkk {
  color: #000;
}
.ddaarrkk :hover {
  color: #000;
}
.ddaarrkk::after {
  color: #000;
}
.margin {
  width: 550px;
  padding-bottom: 200px;
}
.elect {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 0;
  right: 0;
  margin-left: 1%;
  margin: 1px 1px 1px 1px;
  z-index: -1;
}
.copy {
  opacity: 0.5;
}

@media (max-width: 1028px) {
  .elect {
    width: 100%;
  }
  .aaaa {
    padding-top: 4%;
  }
  .lg-head {
    text-align: center;
  }
  .margin {
    width: 550px;
    padding-bottom: 0%;
  }
}
/* end of @media */
#footer {
  text-align: center;
  padding: 6% 15% 6%;
}
.ico {
  padding: 0 0.5% 0.5%;
  opacity: 0.8;
}
